Daten importieren und Überblick erhalten

In [1]:
import pandas as pd

df = pd.read_csv('sentiment_data_financial.csv')

In [2]:
df.head()

,kategorie_id,kategorie_bezeichnung,titel,inhalt_kurz,inhalt
0,1,email,NaN,NaN,Message-ID: <18782981.1075855378110.JavaMail.e...
1,1,email,NaN,NaN,Message-ID: <15464986.1075855378456.JavaMail.e...
2,1,email,NaN,NaN,Message-ID: <24216240.1075855687451.JavaMail.e...
3,1,email,NaN,NaN,Message-ID: <13505866.1075863688222.JavaMail.e...
4,1,email,NaN,NaN,Message-ID: <30922949.1075863688243.JavaMail.e...

In [3]:
df.kategorie_id = df.kategorie_id - 1
df = df.rename(columns={"kategorie_id":"label", "inhalt":"text"})
df = df.drop(columns=['kategorie_bezeichnung', 'titel', 'inhalt_kurz'])
df = df[df['text'].notna()]
df

       label                                               text
0          0  Message-ID: <18782981.1075855378110.JavaMail.e...
1          0  Message-ID: <15464986.1075855378456.JavaMail.e...
2          0  Message-ID: <24216240.1075855687451.JavaMail.e...
3          0  Message-ID: <13505866.1075863688222.JavaMail.e...
4          0  Message-ID: <30922949.1075863688243.JavaMail.e...
...      ...                                                ...
31495      6  c("Pour boiling water over wheat in a bowl.", ...
31496      6  c("In medium saucepan cook potatoes in boiling...
31497      6  c("Melt the margarine and set aside.", "Combin...
31498      6  c("Melt the butter or regular margarine and se...
31499      6  c("Preheat oven to 375 degrees.", "Melt the ch...

[31499 rows x 2 columns]

In [8]:
df.label.value_counts()

0    4500
1    4500
2    4500
3    4500
5    4500
6    4500
4    4499
Name: label, dtype: int64