Daten importieren und Ãœberblick erhalten

In [1]:
import pandas as pd

df = pd.read_csv('summarization_data_newsroom.csv')

In [2]:
len(df)

108862

In [2]:
df.head()

,text,summary,density_bin
0,By MATT SCHWARTZ in Houston and WENDELL JAMIES...,"Bleeding from a massive chest wound, Tejano st...",extractive
1,"By HOLLY RAMER, Associated Press\n\nCONCORD, N...","By HOLLY RAMER, Associated Press CONCORD, N.H....",extractive
2,Men in battle-fatigues have raided the Moscow ...,Men in battle-fatigues have&nbsp;raided the Mo...,mixed
3,"Like all gadgets, cellphones can break. In fac...",Simple home remedies for repairing your mobile...,abstractive
4,"I visited Saudi Arabia in September 2008, arri...","Hurricane Ike, Ramadan and the billionaire pri...",abstractive

In [ ]:
df.kategorie_id = df.kategorie_id - 1
df = df.rename(columns={"kategorie_id":"label", "inhalt":"text"})
df = df.drop(columns=['kategorie_bezeichnung', 'titel', 'inhalt_kurz'])
df = df[df['text'].notna()]
df

In [ ]:
df.label.value_counts()